@media screen and (max-width: 991px){
  .sidebar-collapse .navbar-collapse:before {
    background: #f96332;
    background: linear-gradient(#f96332,#f9bd90 80%);
  }
  .navbar-nav .dropdown-menu {
    position: static !important;
  }
}

@media screen and (max-width: 768px){
  .nav-tabs {
    padding-left: 10px;
    padding-right: 10px;
  }
}
